.contextCont {
    background-color: #f1e9dd;
    border: #af9879 solid 4px;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 5px 5px 10px darkgrey;
    margin-bottom: 5px;

}

h1, h5 {
    padding: 0 0 15px 0;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color: #109dac;
    text-shadow: 2px 0px rgb(1,84,134);
    text-align: center;
    }

#contTitle {
    border-bottom: none;
}

h5 {
    border-bottom: 3px solid rgb(1,84,134);
    text-shadow: none;
    color: rgb(1,84,134);
}

label{
    color:  rgb(1,84,134);
    font-weight: bold;
}

.contact-button {
    background-color: rgb(1,84,134);
    color:rosybrown;
    border-color: rgb(1,84,134);
    box-shadow: #109dac 3px -3px 2px;
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

@media only screen and (max-width: 290px){
    .contact-button {
        font-size: 10px;
        margin: 0px;
        width: 100%;
    }
}
@media only screen and (max-width: 163px){
    #contTitle {
        font-size: 12px;
    }
    
}