.contextMe {
    background-color: #f1e9dd;
    border: #af9879 solid 4px;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 5px 5px 10px darkgrey;
    margin-bottom: 5px;

}


.profilePic {
    border-radius: 35%;
    width: 50%;
    box-shadow: 5px 5px 6px  #af9879;
    margin-bottom: 100px;
 
    
}


h1 {
    padding: 0 0 15px 0;
    border-bottom: 3px solid rgb(1,84,134);
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color: #109dac;
    text-shadow: 2px 0px rgb(1,84,134);
    text-align: center;
    }

p {
    color: rgb(1,84,134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

@media only screen and (max-width: 130px){
    h1{
        font-size: 12px;
        color:  rgb(1,84,134);
        text-shadow: 0px 0px;
    }
    p{
        font-size: 10px;
        color: black;
    }
    .profilePic {
        visibility: hidden;
    }
}

@media only screen and (min-width: 768px){
    .profilePic {
        width: 180px;
        height: 180px;
        border-radius: 5px;
    }
}