footer {
    
    border-top: 8px solid rgb(1,84,134);
    background-color: #af9879;
    width: 100%;
    margin: 0 auto;
    height: 75px;
    flex-shrink: 0;
}

a:link {
    color: hsl(203,52,46);
    font-weight:bold;
    margin: 5px
}

.footer23 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: #f1e9dd;
    text-align: center;
    margin-bottom: 0;
}

@media only screen and (max-width: 286px){
    .footer23{
        font-size: 15px;
        width: 100%;
        
    }   
}

@media only screen and (max-width: 205px){
    .footer23{
        font-size: 8px;
        
    }
    
}